body {
  font-family: 'Inconsolata', monospace;
  background-color: rgb(51,51,51);
  color: rgb(128,128,128);
}

input {
  color: black;
}

.mr-pokedex {
  font-family: 'Electrolize', sans-serif;
}

.favorite-link {
  color: white;
}

.favorite-link:hover {
  text-decoration: none;
  color: rgb(81,173, 96);
}

.text {
  text-align: left;
  position: absolute;
  right: 8%;
  top: 14vh;
  width: 18%;
  font-size: 1.3em;
}

.text a {
  color: rgb(81,173, 96);
}

.pokedex-container {
  margin-top: 10vh;
}

.pokedex {
  background-color: #c12525;
  border: 1px black solid;
}

.left {
  height: 70vh;
  width: 65%;
  float: right;
}

.col-xs-2 {
  padding: 0px;
  margin: 0px;
  width: 2.66666667%;
}

.col-xs-5 {
  padding: 0px;
}

.middle {
  height: 70vh;
  width: 100%;
  border: 2px solid black;
}

.middle-middle {
  margin-top: 5vh;
  height: 60vh;
  border: 0.5px solid black;
  width: 100%;
}

.right {
  height: 60vh;
  width: 65%;
  float: left;
  margin-top: 10vh;
  border-radius: 5px;
}

.top-leds {
  border: 2px black solid;
  height: 10vh;
  display: inline-block;
  width: 100%;
}

.big-led {
  border: 5px rgb(211,211,211) solid;
  background-color: rgb(135,206, 235);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 10px;
  float: left;
}

.small-led {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin: 5px;
  border: 1px black solid;
}

.red {
  background-color: rgb(255,0,0)
}
.green {
  background-color: rgb(0,128,0)
}
.yellow {
  background-color: rgb(255,255,0)
}
.black {
  background-color: black;
}
.screen-green {
  background-color: rgb(81,173, 96);
}
.blue {
  background-color: rgb(41,170,253);
}
.white {
  background-color: white;
}

.main-screen {
  background-color: rgba(128,128,128, 1.0);
  border: 20px rgb(211,211,211) solid;
  border-radius: 5px;
  height: 40vh;
  width: 80%;
  color: white;
  overflow:scroll;
}

.sprites {
  display: inline-block;
}

.sprites img {
  width: 25%;
  float: left;
}

.scrn-btn {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  min-width: 105px;
}

.scrn-btn-white {
  border: 1px solid white;
  color: white;
}

.scrn-btn-white:disabled,
.scrn-btn-white[disabled] {
  color: rgba(211,211,211, 1.0);
  border: 1px solid rgba(211,211,211, 1.0);
  background-color: rgb(81,173, 96);
}

.scrn-btn:hover {
  background-color: rgb(81,173, 96);
}

.top-row {
  margin: 10px 20px;
  display: inline-block;
  width: 100%;
}

.med-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.sm-rectangle-btn {
  width: 50px;
  height: 10px;
  float:left;
  border: 1px black solid;
  margin: 10px;
}

.bottom-row {
  display: inline-block;
  width: 100%;
}

.lg-rectangle-btn {
  width: 100px;
  height: 50px;
  border: 1px black solid;
  float:left;
}

.d-pad {
  float: left;
  margin-right: 70px;
}

.up-down {
  width: 25px;
  height: 80px;
  top: 54.7vh;
  left: 61.5vh;
  border-radius: 5px;
  position: absolute;
}

.left-right {
  width: 80px;
  height: 25px;
  left: 57.5vh;
  border-radius: 5px;
  position: absolute;
}

.secondary-screen {
  height:20vh;
  width: 70%;
  margin: 30px auto 10px auto;
  color: white;
  overflow:scroll;
}

.secondary-screen p{
  padding: 0px 7px;
  text-align: left;
  color: rgb(81,173, 96);
}

.buttons {
  width: 79%;
  display: inline-block;
}

.bottom {
  margin-top: -5px;
}

.square-btn {
  width: 20%;
  height: 35px;
  float: left;
  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 0 5px #27496d;
}

.square-btn:active {
  box-shadow: 0 2px #27496d;
  transform: translateY(2px);
}

.square-btn i {
  color: rgba(128,128,128, 0.3);
  padding-top: 8px;
}
.square-btn i:hover {
  color: rgba(81,173, 96, 0.6);
}
.square-btn.blue i {
  color: rgba(0,250,253, 0.3);
  padding-top: 8px;
}
.square-btn.blue i:hover {
  color: rgba(0,250,253, 0.8);
}

.right .bottom-row{
  margin-top: 15px;
}
