<div class="pokedex-container">
  <div class="row">
    <div class="col-xs-5">
      <div class="pokedex left">
        <div class="top-leds">
          <div class="big-led"></div>
          <div class="small-led red"></div>
          <div class="small-led yellow"></div>
          <div class="small-led green"></div>
        </div>
        <div class="main-screen container">
          <br>
          <div ng-hide="pokemon.name || loadingMsg">
            <h2 class="mr-pokedex">Mr. Pokedex</h2>
            <input type="text" class="text-center" ng-model="searchTerm" placeholder="Search by name or id">
            <button class="scrn-btn" ng-hide="pokemon.name" ng-click="search()">Search!</button>
            <button class="scrn-btn" ng-hide="pokemon.name" ng-click="go('/favorites')">My Favorites</button>
          </div>
          <div ng-show="error.detail">
            <br>
            <p>{{error.detail}}</p>
          </div>
          <div ng-show="loadingMsg">
            <p>{{loadingMsg}}</p>
          </div>
          <div ng-show="pokemon.name && pokemonSpecies.flavor_text_entries">
            <div class="text-left">
              <a class="favorite-link" href="#" ng-click="searchAgain()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            </div>
            <h4><strong>{{pokemon.name}} #{{pokemon.id}}</strong></h4>
            <div class="sprites">
              <img ng-src="{{pokemon.sprites.front_default}}">
              <img ng-src="{{pokemon.sprites.back_default}}">
              <img ng-src="{{pokemon.sprites.front_shiny}}">
              <img ng-src="{{pokemon.sprites.back_shiny}}">
            </div>

            <button class="scrn-btn scrn-btn-white" ng-show="!favorites[pokemon.id]" ng-click="addFavorite(pokemon.id, pokemon, pokemonSpecies)">Add to Favorites</button>
            <button class="scrn-btn scrn-btn-white" ng-show="favorites[pokemon.id]" disabled>Already Favorited!</button>
            <br><br>
            <p class="text-left">{{pokemonSpecies.flavor_text_entries[1].flavor_text}}</p>
          </div>
        </div>
        <div class="bottom-controls container">
          <div class="top-row">
            <div class="med-btn black">
            </div>
            <div class="sm-rectangle-btn red">
            </div>
            <div class="sm-rectangle-btn green">
            </div>
          </div>
          <div class="bottom-row">
            <div class="lg-rectangle-btn screen-green">
            </div>
            <div class="d-pad">
              <div class="controls">
                <div class="up-down black">
                </div>
                <div class="left-right black">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="pokedex middle">
        <div class="middle-middle">
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <!-- <div class="pokedex right text-center container" ng-controller="HomeCtrl"> -->
      <div class="pokedex right text-center container">
        <div class="secondary-screen black">
          <br>
          <p>Hello there. I am Dexter, a digital encyclopedia created by Professor Oak as an invaluable tool to Trainers.</p>
        </div>
        <div class="buttons">
          <div class="square-btn blue" ng-click="showFavorite(0)">
            <i ng-show="keys[0]" ng-model="keys[0]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(1)">
            <i ng-show="keys[1]" ng-model="keys[1]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(2)">
            <i ng-show="keys[2]" ng-model="keys[2]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(3)">
            <i ng-show="keys[3]" ng-model="keys[3]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(4)">
            <i ng-show="keys[4]" ng-model="keys[4]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="buttons bottom">
          <div class="square-btn blue" ng-click="showFavorite(5)">
            <i ng-show="keys[5]" ng-model="keys[5]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(6)">
            <i ng-show="keys[6]" ng-model="keys[6]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(7)">
            <i ng-show="keys[7]" ng-model="keys[7]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(8)">
            <i ng-show="keys[8]" ng-model="keys[8]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
          <div class="square-btn blue" ng-click="showFavorite(9)">
            <i ng-show="keys[9]" ng-model="keys[9]" class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="buttons">
          <div class="row">
            <div class="small-led red">
            </div>
            <div class="small-led red">
            </div>
            <div class="pull-right">
              <div class="sm-rectangle-btn black">
              </div>
              <div class="sm-rectangle-btn black">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="square-btn white" ng-click="go('/')">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="square-btn white" ng-click="go('/favorites')">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="med-btn yellow pull-right">
          </div>
        </div>
        <div class="buttons bottom-row">
          <div class="lg-rectangle-btn black pull-left">
          </div>
          <div class="lg-rectangle-btn black pull-right">
          </div>
        </div>
    </div>
  </div>
</div>
</div>
